html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background: linear-gradient(to bottom, pink, white);
}

h1 {
    font-weight: 600;
}

#gif {
    height: 400px;
    width: 700px;
    margin: 20px;
}

button {
    border: none;
    top: 7px;
    font-size: x-large;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    color: white
}

#yes-btn {
    background-color: green;
}

#no-btn {
    background-color: red;
}

#madeBy {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

a {
    color: black;
}